body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Open Sans", sans-serif;
}

.card {
    width: 320px;
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
    padding: 16px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
}

img {

    width: 100%;
    height: auto;
    border-radius: 15px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}

.description {
    font-size: 15px;
    color: #666666;
    margin: 12px 0;
    text-align: center;
}